<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class='col-md-8'>
    	<img src="http://i487.photobucket.com/albums/rr237/wdhays/Photo20on205-29-1520at202.4720PM_zpsi1zd2zq1.jpg" />
      <br>
    </div>
    <div class='col-md-offset-1 col-md-3'>
    <h2>Learning to code</h2>
    	<p>This is me, hard at work, in my office, learning to code. I've been at it for about five months. Some of the topics that I've been studying are:</p>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>Javascript</li>
          <li>Git & Github</li>
          <li>Heroku</li>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>SQL</li>
          <li>RSpec</li>
        </ul>
      <br>
    </div>
    <div class='col-md-offset-1 col-md-7'>
    	<p>Some of the resources that I've used so far include:</p>
      	<ul>
          <a href="http://www.w3schools.com">W3Schools</a><br>
          <a href="http://www.codeschool.com">CodeSchool</a><br>
          <a href="http://www.codecademy.com">Codecademy</a><br>
          <a href="http://www.teamtreehouse.com">TeamTreehouse</a><br>
          <a href="http://www.pluralsight.com">PluralSight</a>
      	</ul>
      <br>
    	<p>Coding is different that any of my previous jobs. I've dealt a lot with computers before, but never with programming. Some of my previous positions were:</p>
      	<ul>
          <li>Safety Manager</li>
          <li>Dispatcher</li>
          <li>Network Administrator</li>
          <li>Diamond Operator</li>
          <li>Demolition Laborer</li>
      	</ul>
      <br>
     	<p>My goals are to continue to improve my coding skills, buy my own house and teach my son to code.</p>
    </div>
    <br>
    <br>
    <br>
  </body>
  <footer>
  </footer>
</html>