<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="social_links">
    	<a href="https://www.facebook.com/wiley.hays"><img src ="http://i487.photobucket.com/albums/rr237/wdhays/facebook10_zpsynpikyms.png" /></a>
      <a href="https://www.linkedin.com/profile/view?id=249840202&trk=hp-identity-name"><img src="http://i487.photobucket.com/albums/rr237/wdhays/linkedin2_zpsjefibk2o.png" /></a>
      <a href="https://github.com/wdhays2"><img src="http://i487.photobucket.com/albums/rr237/wdhays/social-network44_zpsblj2noqr.png" /></a>
      <a href="mailto:wdhays2@charter.net"><img src="http://i487.photobucket.com/albums/rr237/wdhays/email19_zpsxn8miwzo.png" /></a>
    </div>
  </body>
  <footer>
     <div>Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.flaticon.com/authors/vectorgraphit" title="Vectorgraphit">Vectorgraphit</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
  </footer>
</html>