<!DOCTYPE html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
		<script src="//unslider.com/unslider.min.js"></script>
  </head>
  <body>
    <div class="banner">
      <ul>
        <li><a href="http://photobucket.com/" target="_blank"><img src="http://i487.photobucket.com/albums/rr237/wdhays/Portfolio/vaca_zps7f3wiqfc.png"/></a></li>
        <li><a href="http://photobucket.com/" target="_blank"><img src="http://i487.photobucket.com/albums/rr237/wdhays/Portfolio/Screen%20Shot%202015-05-26%20at%202.13.01%20PM_zpskh81xcz3.png"/></a></li>
        <li><a href="http://photobucket.com/" target="_blank"><img src="http://i487.photobucket.com/albums/rr237/wdhays/Portfolio/Screen%20Shot%202015-05-26%20at%202.06.20%20PM_zpscyuafg9o.png"></a></li>
      </ul>
		</div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class='col-md-4'>
          <img src="http://i487.photobucket.com/albums/rr237/wdhays/Portfolio/vaca_zpsbo3qzydr.jpg" />
            <h4>Take a Vacation</h4>
            <p>This site is dedicated to providing people a place to store and share their travel experiences. Ever want to travel to Ireland? See what others say about where to go and what to do while you're there.</p>
            <p class="links"><a href="https://radiant-river-6869.herokuapp.com/">Take Me There</a></p>
        </div>
        <div class="col-md-4">
          <img src="http://i487.photobucket.com/albums/rr237/wdhays/Portfolio/batt_zpsw75fc6aa.jpg" />
            <h4>Build a Custom Battery</h4>
            <p>On this page you can calculate haw many batteries are needed to reach a specified voltage and amperage rating to meet your needs. Or, if you know what you're looking for in the specs department, you can compare prices by manufacturer and size battery.</p>
            <p class="links"><a href="https://github.com/wdhays2/Batteries">Take Me There</a></p>
        </div>
        <div class="col-md-4">
          <img src="http://i487.photobucket.com/albums/rr237/wdhays/Portfolio/car_zpsxsa1ksgw.jpg" />
            <h4>Virtual Car Experience</h4>
            <p>Take a ride in a classic muscle car. Make sure you air up the tires and fill the gas  tank. Built-in logic prevents you from traveling beyond the distance your fuel allows. And go easy on the throttle. It affects your distance.</p>
            <p class="links"><a href="https://github.com/wdhays2/Car">Take Me There</a></p>
        </div>
      </div>
    </div>
    
  </body>
</html>