<!DOCTYPE html>
<html>
<head>
  <title>Wiley Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">	</script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="header">
    <div class='navbar navbar-default navbar-static-top'>
      <div class="container">
        <a href='/welcome.html' class='navbar-brand'>Wiley Hays</a>
        	<ul class='nav navbar-nav navbar-right'>
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#">Projects</a></li>
            <li><a data-toggle="pill" href="#">Contact</a></li>
            <li><a data-toggle="pill" href="#">About</a></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to my website. Take a look at some of my completed projects.</h1>
        <div id="button">
        	<button type="button" class="btn btn-primary"><%= link_to('View my Work') %></button>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
  <ul>
    <li><a href="https://www.linkedin.com/pub/wiley-hays/6b/807/54a
"></a>Linked In</li>
    <li><a href="https://www.heroku.com"></a>Heroku</li>
  <li><a href="https://github.com/wdhays2"></a>Github</li>
  </ul>
  <br>
  <br>
</footer>
</html>  